@import "../node_modules/bootstrap/scss/bootstrap.scss";

pre {
  background-color: #333;
  border-color: #333;
  color: #eee;
  padding: 10px 20px;
  border-radius: 5px;
}

h1 {
  font-size: 42pt;
  line-height: 46pt;
  margin-bottom: .5em;
  font-weight: 300;
}

h2 {
  font-size: 32pt;
  line-height: 36pt;
  margin-bottom: .5em;
  font-weight: 300;
}