@charset "UTF-8";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

$ionicons-font-path: "/fonts/ionicons" !default;
$ionicons-font-family: "Ionicons" !default;
$ionicons-version: "3.0.0-alpha.3" !default;
@import "../node_modules/ionicons/dist/scss/ionicons";

body {
  font-size: 1.2em;
}

.lead {
  font-size: 1.4em;
}

pre {
  background-color: #333;
  border-color: #333;
  color: #eee;
  padding: 10px 20px;
  border-radius: 5px;
}

.navbar,
.navbar .btn,
.navbar .dropdown-item,
.navbar button {
  font-size: 18px;
}