$background-color: #fff;
$text-color: #444;
body {
  margin: 0px 0px;
  font-family: sans-serif;
  color: $text-color;
  background-color: $background-color;
  max-width: 950px;
  font-size: 16px;
  line-height: 22px;
}
hr {
  border: 0;
  height: 1px;
  border-bottom: 2px solid #eee;
  margin: 30px 0;
}
h1 {
  font-size: 48px;
  line-height: 52px;
  font-weight: 300;
  margin: 0;
}
h1 a {
  color: $text-color;
  text-decoration: none;
}
h2 {
  font-size: 38px;
  line-height: 42px;
  font-weight: 300
}
h3 {
  font-size: 28px;
  line-height: 32px;
  font-weight: 300
}
ul {
  list-style: square;
}
input {
  font-size: 16px;
  line-height: 18px;
  border: 1px solid #222;
  background: #fff;
  padding: 10px 15px;
}
button {
  font-size: 16px;
  line-height: 18px;
  border: 2px solid #444;
  background-color: $text-color;
  color: #fff;
  padding: 10px 15px;
  cursor: pointer;
}
button:disabled {
  background-color: #666;
  color: #ccc;
  cursor: default;
}
.button {
  font-size: 16px;
  line-height: 18px;
  border: 2px solid #444;
  background-color: #fff;
  color: $text-color;
  padding: 10px 15px;
  text-decoration: none;
}
.button-oauth {
  display: block;
  width: 100%;
  max-width: 300px;
  margin-bottom: 10px;
  text-align: center;
}
.button-facebook {
  border-color: #3B5998;
  background-color: #3B5998;
  color: #fff;
}
.button-google {
  border-color: #d34836;
  background-color: #d34836;
  color: #fff;
}
.button-twitter {
  border-color: #00aced;
  background-color: #00aced;
  color: #fff;
}
.menubar {
  text-align: right;
  padding: 5px 20px;
  border-bottom: 2px solid #eee;
}
.menubar .home {
  float: left;
}
.menubar button {
  padding: 0;
  margin: 0 0 0 10px;
  background-color: transparent;
  border-color: transparent;
  text-decoration: underline;
}
.menubar button,
.menubar a {
  color: $text-color;
  font-weight: bold;
}
.header {
  padding: 20px 20px 0 20px;
}
.container {
  padding: 0 20px;
  margin: 0;
}